img{
    margin-top: 70px;
}
.container{
    display: flex;
    width: 990px;
    height: 300px;
}
.left-container{
    width: 80%;
    height: 100%;
}
.right-container{
    width: 20%;
    height: 100%;
}